playwright>=1.40.0
python-socketio[client]>=5.10.0
pillow>=10.0.0
pyinstaller
email_validator
flask
flask-cors
flask-socketio
flask-sqlalchemy
gunicorn
openai
psycopg2-binary
socketio
flask-sqlalchemy
psycopg2-binary
eventlet